html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

header {
    color: lightgray;
    background-color: black;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.5rem;
}

body {
    margin: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.button, input::file-selector-button{
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 10px;
}

.button:hover, input::file-selector-button:hover {
    background-color: lightgray;
}

form {
    background-color: #b3b9bf;
    border: 0;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    display: inline-block;
}

.form-line{
    margin: 1.5rem;
}